body {
  color: #fff;
  background: #17181c;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  transition: color .3s;
}

h1 {
  margin: 0;
}

header {
  padding: 1vw 3vw;
  height: 10vh;
}

header h1 {
  font-size: 4vw;
  font-weight: 800;
}

main {
  margin: 2vw;
  display: flex;

}

footer {
  height: 25vh;
  margin-top: 4vh;
  margin-bottom: 4vh;
  display: grid;
  grid-template-areas: 
  "rss github copyright"
  "rss course copyright";
  grid-template-columns: 1fr 1fr 0.8fr;
  text-align: center;
  font-size: 1.8vw;
  font-weight: 600;
}

footer .rss {
  max-width: 20vw;
  padding: 8%;
  height: auto;
  margin: 0 auto;
  grid-area: rss;
  display: flex;
  background: rgb(252, 255, 60);
  border-radius: 5vw;
}
footer .rss img {
  width: 100%;
  height: auto;
  align-items: center;
}
footer .github{
  color: #69db7e;
  grid-area: github;
}
footer .course {
  color: #69db7e;
  grid-area: course;
}
footer span.year {
  color: rgb(255, 252, 76);
  font-size: 1.2vw;
}
footer .copyright {
  font-size: 1.2vw;
  color: rgb(96, 84, 84);
  grid-column: 3;
  grid-area: copyright;
  align-self: center;
}
footer .github a, footer .course a {
  color: #30c5ff;
}
footer .github a:hover, footer .course a:hover {
  color: #0c8bbd;
}
footer .copyright a {
  color: rgb(134, 122, 122);
}
footer .copyright a:hover {
  color: #30c5ff;
}
footer .copyright:before {
  content: '©';
}

@media screen and (min-width: 768px) and (max-width:1279px) {
  footer {
    grid-template-areas: 
    "rss github"
    "rss course"
    "copyright copyright";
    grid-template-columns: 1fr 1fr;
  }
  footer .rss {
    padding: 5%;
  }
}

@media screen and (max-width: 767px){
  header {
    height: 7vh;
  }

  header h1 {
    font-size: 5vw;
  }

  footer {
    height: 16vh;
    grid-template-areas: 
    "rss github course"
    "copyright copyright copyright";
    grid-template-columns: 0.5fr 1fr 1fr;
    grid-template-rows: 8vh 8vh;
    font-size: 2.4vw;
  }
  footer .rss {
    padding: 5%;
    max-width: 100%;
    border-radius: 1vw;
  }
  footer .github, footer .course {
    align-self: center;
  }
  footer .copyright, footer span.year  {
    font-size: 1.6vw;
  }
}